node_modules/
__pycache__/
*.pyc
.venv/
logs/
.env

data-agent-fronted/node_modules/
data-agent/logs/

docker/embedding/
data-agent/docker/embedding/

.idea/
.learnings/
data-agent/.idea/
data-agent/.learnings/
